<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Destination</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Chose your destination</h1>
    <div id="container">
        <form  method="post">
            <div class="side">
                <p>Choose your destination</p>
                <div class="custom-select">
                    <!-- In the end should get destinations from database -->
                    <select name="select-destination" id="select-destination" required>
                        <option value="Mercury">Mercury</option>
                        <option value="Venus">Venus</option>
                        <option value="Moon">Moon</option>
                        <option value="Mars">Mars</option>
                        <option value="Jupiter">Jupiter</option>
                        <option value="Saturn">Saturn</option>
                        <option value="Uran">Uran</option>
                        <option value="Neptun">Neptun</option>
                        <option value="Ceres">Ceres</option>
                        <option value="Pluto">Pluto</option>
                        <option value="Makemake">Makemake</option>
                        <option value="Eris">Eris</option>
                    </select>
                </div>
            </div>
            <div class="side">
                <!-- Choose seat, in the end, there should be a seat map -->
                <p>Choose your seat number</p>
                <input name="select-seat-number" class="input" type="number" min="1" max="30" required>
            </div>
            <div class="side">
                <!-- Choose date -->
                <p>Choose date of flight</p>
                <input  name="select-date" class="input" type="date" id="choose-date" min="2024-12-07" max="2026-12-07" required>
            </div>
            <div class="end_side">
                <!-- Choose time -->
                <p>Choose time</p>
                <input name="select-time" class="input" type="time" id="choose-time" required>
            </div>

            <div id="container">
                <div class="email">
                    <!-- Choose your email -->
                     <br>
                    <p>WriteYourEmail</p>
                    <input name="select-email" class="input" type="email" required>
                </div>
                <input class="button" type="submit" value="Buy ticket">
            </div>

        </form>
    </div>
</body>
</html>