<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose Your Zodiac Sign</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <div id="container">
        <h1>YOUR DESTINY</h1>
        <div id="content">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras non congue nibh. Nunc non blandit mi. Nunc suscipit id diam id lacinia.
        Quisque ac mollis est. Sed euismod arcu sit amet purus rutrum congue. Integer eget ornare dui. Donec sem ex, rhoncus eu enim vel, auctor interdum justo.
        Nulla rhoncus ac massa a condimentum. Quisque vulputate lectus nec interdum efficitur. Integer dapibus vel nunc ac cursus.
        Ut sed mi rhoncus, consequat est sit amet, tincidunt est. Duis pellentesque, risus nec accumsan hendrerit, ipsum risus dignissim nisl, ac bibendum odio turpis sit amet nisi.
        <br><br>
        Nullam elementum malesuada metus id bibendum. Aliquam non risus lacus. Aliquam vel ipsum eget ante consectetur ornare. In vitae neque ac nunc vehicula sagittis. 
        Maecenas ornare vehicula maximus. Quisque mattis feugiat libero. Vestibulum vehicula ipsum porttitor lacus auctor, ac blandit mi maximus. 
        Pellentesque quis tempor nibh. Nullam commodo sapien sed lectus dapibus iaculis. Nunc ut sem feugiat, accumsan urna vel, malesuada urna.
        Donec vitae enim eu velit gravida volutpat a in lectus. Curabitur felis ipsum, laoreet sed venenatis vitae, pretium non odio. Proin tristique diam sed ullamcorper mattis.
        In porttitor ligula quis risus tincidunt, placerat dictum purus malesuada.
        </div>
        <div class="button"  id="content2"><a href="/destiny">Buy Ticket</a></div>
    </div>
</body>