<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flask App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

    <h1>Welcome to Space</h1>
    <div id = "conteiner">
        <div class="button"><a href="flights.html">book flight</a></div>
        <div class="button"><a href="zodiac.html">Let the space decide</a></div>
    </div>

    <a href="/choose-user">choose_user</a>
    <a href="/choose-space">choose_space</a>

</body>
</html>
